main{
    padding: 2vw;
}

main p, h2, h3{
    color: black;
}

h2{
    font-size: 250%;
}

h3{
    font-size: 150%;
}

h2, h3{
    padding-bottom: 2vh;
}

h2, main p{
    text-align: center;
}

main p{
    line-height: 1.75em;
}

main section{
    padding: 1vw;
}

h3, main ul p{
    text-align: justify;
}

main ul > li{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5vh;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right,#5a6cf1, #9443fe);
    border-image-slice: 1;
}
  
main li img{
    height: 20em;
}

main li:nth-child(odd){
    flex-direction: row-reverse;
}


@media screen and (max-device-width: 800px) {
    main li {
        flex-direction: column;
    }
    main li:nth-child(odd) {
        flex-direction: column;
    }
    img {
        object-fit: cover;
    }
    main li img{
        height: 33vh;
    }
    p{
        font-size: 180%;
    }
    h2{
        font-size: 280%;
    }
    h3{
        font-size: 250%;
    }
}