html {
    height: 100%;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f1f1f1
}

a { text-decoration: none; }

li{ list-style: none; }


body{
    font-family: 'Verdana';
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    background-color: #333;
    border-bottom: 4px solid rgb(177, 71, 1)
}

.navbar{
    padding: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
  
.navbar li a {
    position: relative;
    cursor: pointer;
}

.navbar li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(194, 82, 8);
    transform-origin: bottom center;
    transition: 0.25s ease-out;
}
  
  .navbar li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom cen;
}

.navbar .logo{
    height: 14vh;
}

.titre{
    font-weight: bold;
    color: rgb(194, 82, 8);
    font-size: 3vw;
    margin-left: 50px;
    margin-right: 20px;
}

.navLinks{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar .navLinks ul {
    display: flex;
}
  
.navbar .navLinks ul li {
    margin: 0 25px;
}
  
.navbar .navLinks ul li a{
    font-size: 150%;
}

.navbar .navLinks ul .active a {
    color: rgb(194, 82, 8);
    font-weight: 600;
}

.active a{color: rgb(194, 82, 8);}

.navbar .hamburger {
    display: none;
    position: absolute;
    right: 35px;
    top: 98px;
    width: 35px;
}

.croix{
    display: none;
    position: fixed;
    right: 35px;
    top: 98px;
    width: 35px;
}

main{
    flex: 1 0 auto;
    height: 100vh   ;
    background-color: rgb(116, 192, 132);
}

footer {
    background-color: #333;
    border-top: 4px solid rgb(177, 71, 1);
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 0 35px 0;
}

.bloc{
    margin: 0 50px;
}

.footerContact h2,
.footerMedias h2 {
    font-size: 25px;
    color: rgb(194, 82, 8);

}

.footerContact li {
    padding: 5px 0;
    font-size: 20px;
}

.listeContact,
.listeMedias {
    padding: 5px 0;
}

.listeMedias img {
    width: 30px;
    margin: 10px 10px;
}

.listeMedias a {
    position: relative;
    right: 10px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.listeCredit img{
    height: 14vh;
}


@media all and (max-width: 1000px) {
    .titre{
        font-size: 5vw;
    }

    .navbar{
        padding: 35px;
        justify-content: center;
    }
  
    .navbar .logo{
        height: 14vw;       
    }
  
    .navbar .hamburger{
        display: block;
        z-index: 2;
    }

    .navbar .hamburger.open{
        display: none;
    }
  
    .navbar .croix.close{
        display: block;
        z-index: 2;
    }

    .navLinks {
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100vh;
        transition: all 0.5s ease;
        z-index: 2;
    }
  
    .navLinks.mobileMenu{
        margin-top: 0;
    }

    .navLinks ul {
        display: flex;
        flex-direction: column;
    }
    
    .navbar li a {
        color: #333;
    }

    .navbar .navLinks ul .active a {
        color: black;
    }

    .navbar .navLinks ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}