html {
    height: 100%;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f1f1f1
}

a { text-decoration: none; }

li{ list-style: none; }


body{
    background-color: #f1f1f1;
    font-family: 'Verdana';
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    background: linear-gradient(to right,#5a6cf1, #9443fe, #7c20f5);
    border-bottom: 4px solid black;
    position: fixed;

}

header h1{
    font-size: 250%;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
  
.navbar li a {
    position: relative;
    cursor: pointer;
    color: #333;
}

.navbar li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #5a6cf1;
    transform-origin: bottom center;
    transition: 0.25s ease-out;
}
  
  .navbar li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom cen;
}

.titre{
    font-size: 5vw;
}


.navbar .logo{
    height: 4vw;  
    margin: 15px
}

.navbar .hamburger{
    display: block;
    z-index: 2;
}

.navbar .hamburger.open{
    display: none;
}

.navbar .croix.close{
    display: block; 
    z-index: 2;
}

.navLinks {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100vh;
    transition: all 0.5s ease;
    z-index: 2;
    text-align: center;
}

.navLinks.mobileMenu{
    margin-top: 0;
}

.navLinks ul {
    display: flex;
    flex-direction: column;
}

.navbar .navLinks ul li {
    margin: 25px 0;
    font-size: 1.2em;
}
  
.navbar .navLinks ul li a{
    font-size: 150%;
}


.navbar .navLinks ul .active a {
    color: #9443fe;
    font-weight: 600;
    
}



.navbar .hamburger {
    display: block;
    position: relative;
    height: 2vw;
    margin: 15px

}

.croix{
    display: none;
    position: relative;
    height: 2vw;
    margin: 15px
    
}

main{
    flex: 1 0 auto;
}

footer {
    background-color: rgb(0, 0, 0);
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right,#5a6cf1, #9443fe);
    border-image-slice: 1;
    color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px 0 35px 0;
}

.bloc{
    margin: 0 50px;
}

.footerContact h2,
.footerSources h2,
.footerCredit h2 {
    font-size: 25px;
    background: linear-gradient(to right,#5a6cf1, #9443fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.footerContact li,
.footerSources li,
.footerCredit li {
    padding: 5px 0;
    font-size: 20px;
}

.listeContact,
.listeSources,
.listeCredit {
    padding: 5px 0;
}

.listeSources a {
    position: relative;
    right: 10px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.listeCredit img{
    height: 12vh;
}


@media all and (max-width: 1000px) {
    .listeCredit img{
        height: 10vw;
    }
    .navbar .logo{
        height: 7vw;  
        margin: 15px
    }
}
