main{
    padding: 2vw;
}

main p, h2, h3{
    color: #333;
}

main>h2{
    font-size: 4vw;
    padding-bottom: 4vh;
}

main > h2 {
    text-align: center;
}

main div{
    padding: 1vw;
}

.mainIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border: 4px solid transparent;
    border-image: linear-gradient(to right,#5a6cf1, #9443fe, #7c20f5);
    border-image-slice: 1;
    margin-bottom: 8vh;
    padding: 1.5em;
}

.mainIntro p{
    color: #f1f1f1;
    text-align: justify;
}

.mainIntro h3 {
    color: #f1f1f1;
    margin-bottom: 30px;
    font-size: 140%;
}

.mainContenue{
    background-color: #cacaca;
    border: 4px solid transparent;
    border-image: linear-gradient(to right,#5a6cf1, #9443fe, #7c20f5);
    border-image-slice: 1;
    padding: 2em;
}
.mainContenue p {
    text-align: justify;
}

.mainContenue h2{
    margin-bottom: 25px;
    font-size: 200%
}

.mainContenue h3{
    margin-bottom: 20px;
    font-size: 130%;
}

.mainContenue ul {
    display: flex;
    flex-wrap: wrap;

}

.mainContenue li {
    flex-basis: 48%;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 1em;
    margin: 0 1vh;
    border-top: 4px solid #7c20f5;

}

.mainContenue section{
    padding: 0.5em;
}

.mainContenue li img {
    width: 20em;
}

@media screen and ((max-device-width: 1000px) or (max-width: 1000px)){
    .mainIntro{
        flex-direction: column;
    }

    .mainIntro img{
        flex-basis: 100%;
        flex-grow: 1;
        width: 100%;
        object-fit: cover;
    }

}

@media screen and ((max-device-width: 820px) or (max-width: 820px)) {

    main>h2{
        font-size: 270%;
    }

    .mainIntro h3{
        text-align: center;
        font-size: 200%;
        margin: 30px 0 60px 0;
    }

    .mainContenue li {
        flex-direction: column;
        flex-basis: 100%;
        padding: 10px 1em;
    }

    .mainContenue li img{
        width: 100%;
        object-fit: fill;
        margin-bottom: 30px;
    }

    .mainContenue h2 {
        padding: 0;
    }

    .mainContenue h3 {
        text-align: center;
        font-size: 180%;
        margin: 30px 0 60px 0;
    }

    p{
        font-size: 130%;
        margin-bottom: 10px;
    }
    h2{
        font-size: 300%;
        text-align: center;
        padding: 0;
        margin: 60px 0;
    }

}